<div class="page-header">
    <h1 style="text-align: center">Tutorial: Conclusion</h1>
</div>
<div class="container">
  <h2>Testing</h2>
  <p>
    Although not covered in the tutorial, Viage works very well with the <a href="https://jestjs.io/en/">Jest</a> test framework. The Viage
    project uses the <a href="https://github.com/kulshekhar/ts-jest#supports-synthetic-modules">ts-jest</a> project so that all the tests can
    be written in Typescript and work seamlessly with Viage. The Viage CLI creates all the necessary hooks so that all you have to do is add
    tests to the test directory. You can use this project as an example for how to write functional and unit tests for a Viage project.
    To execute the tests type:
  </p>
  <pre class="code">${this.pp('npm run test', 'bash')}</pre>
  <p>
    The Jest page has excellant documentation and is a great resource for Viage Testing
  </p>
  <h2>Conclusion</h2>
  <h4>Minimal Size</h4>
  <p>
      At this point, we have a very functional application. If you type:
  </p>
  <pre class="code">${this.pp('npm run build', 'bash')}</pre>
  <p>
      You will see that the final Javascript file size of bundle.js is 25kb and the index.html file is 788 bytes.
      That is remarkably small compared to the same app built in most other frameworks.
  </p>
  <h4>Amount of Code</h4>
  <p>
      The amount of coding required to produce this app is on par with most of the popular frameworks if not smaller. However, the amount of
      specific framework knowledge required to effectively use Viage is small. Viage should work with most Javascript libraries right out of
      the box. The Component / Service model is reasonably effective at keeping code organized, resusable, maintainable, and scalable.
  </p>
  <h4>Size Comparisons</h4>
  <table class="size-table">
    <tbody>
      <tr><th>Framework</th><th>Size</th></tr>
      <tr><td>Viage</td><td>25KB</td></tr>
      <tr><td>Angular</td><td>351KB</td></tr>
      <tr><td>React</td><td>158KB</td></tr>
    </tbody>
  </table>
  <p>
    For the sake of codes size and complexity comparisons, I have implemented this same app in React and Angular. The React and Angular
    versions do not have the State Change animations and are not responsive. You can find them and a running Viage version here:
  </p>
  <p><a href="https://schlotg.github.io/shopping-list.html#home">Viage</a></p>
  <p><a href="https://schlotg.github.io/react-shopping-list/index">React - running</a></p>
  <p><a href="https://github.com/schlotg/react-shopping-list">React - project</a></p>
  <p><a href="https://schlotg.github.io/angular-shopping-list/home">Angular - running</a></p>
  <p><a href="https://github.com/schlotg/angular-shopping-list">Angular - project</a></p>
  <p>
    <button attach="prev" type="button" class="btn btn-outline-primary">Styling</button>
    <button attach="next" type="button" class="btn btn-outline-primary">Home</button>
  </p>
</div>
