<div class="home-backdrop">
  <h1 class="home-title">Viage</h1>
  <p class="tag-lines">Simple, Minimal, Typescript Based, Modern Framework</p>
</div>
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-sm">
      <h2>Simple</h2>
      Viage relies on common modern browser functionality and doesn't re-invent anything.
    </div>
    <div class="col-sm">
      <h2>Minimal</h2>
      Viage is a minimal set of base classes, best practices, and is easy to learn.
    </div>
    <div class="col-sm">
      <h2>Typescript</h2>
      Viage is based on Typescript which helps keep code safe, organized, and maintainable.
    </div>
    <div class="col-sm">
      <h2>Modern</h2>
      Viage relies on modern Common Web APIs, ES6 functionality, Typescript, and Webpack.
    </div>

  </div>
</div>
