<div class="page-header">
  <h1 style="text-align: center">Getting Started</h1>
</div>
<div class="container">
  <h2>Installation</h2>
  <p>
    Viage uses a CLI to create new projects, create components, and create services. If you haven't already please install Node and then install
    the viage CLI:
    <pre class="code">${this.pp('npm install -g viage-cli', 'bsh')}</pre>
    If you run into issues try uninstalling it first and then repeat the line above
    <pre class="code">${this.pp('npm rm -g viage-cli', 'bsh')}</pre>
  </p>
  <p>
    Next, lets create a Hello World sample project:
    <pre class="code">${this.pp('viage app hello-world-viage\ncd hello-world-viage', 'bsh')}</pre>
  </p>
  <p>
    This will create an empty project thats all configured and ready to go. To run it type:
    <pre class="code">${this.pp('npm run start', 'bsh')}</pre>
  </p>
  <p>
    You should see a development server start and a browser window open with a message that says: 'Hello From Viage'
  </p>
  <h2>Commands</h2>
  <p>
    <ul>
      <li><b>npm run start</b> - Builds and launches a Development Webserver</li>
      <li><b>npm run build</b> - Builds the project in release and outputs it to dist/</li>
      <li><b>npm run build-embedded</b> - Builds the project in release and outputs it to dist/ and embeds the bundle.js into the HTML</li>
      <li><b>npm run test</b> - Launches ts-jest and runs all the Jest tests that are in the tests folder</li>
      <li><b>npm run serve</b> - Launches an express server to serve the contents of the dist folder. This allows testing of a release build</li>
      <li><b>viage app &#60project-name&#62</b> - Creates a skeleton project</li>
      <li><b>viage component &#60component-name&#62</b> - Creates a new component and adds it to the project</li>
      <li><b>viage service &#60service-name&#62</b> - Creates a new service and adds it to the project</li>
    </ul>
  </p>
  <h2>How To Viage</h2>
  <p>
    <h4>Components and Services</h4>
    <p>
      There are three basic types of Viage objects, Components and Services, and a special object called
      a Router.
    </p>
    <h5>Components</h5>
    <p>
      Components contain HTML and other components. Components communicate down stream by calling functions directly in their children much like React does. Sometimes a parent needs to know that something changed in a child component. That can be done by emitting and event, supporting a callback API between parent and child, and notification via a Service.
    </p>
    <h5>Services</h5>
    <p>
      Services are singletons that are usually a data repository. They should handle the setting and getting of data and provide a mechanism to notify everyone else when the data has changed. The Service base class has some helpers for adding listeners and dispatching events.
    </p>
    <h5>Router</h5>
    <p>
      Viage also has a quick and dirty router that is about 225 lines of code. This is a configurable Router and can be a HASH, SATANDALONE,
      and LOCATION router. It allows Single Page Apllications to be created quickly and easily. The Router maps routes to components which render
      into a common element in the DOM. For more information see the <a href="${this.api}">API Docs</a>. For some router design considerations go
      <a href="${this.routerLink}">here</a>.
    </p>
  </p>
  <h2>Shopping List Tutorial</h2>
  <p>
    The quickest way to learn Viage is to walk through a simple Shopping List app. You can find that <a href="${this.tutorial}">here</a>.
  </p>
  <h2>Testing</h2>
  <p>
    When using the Viage CLI to create a new project, it creates all the hooks necessary to start writing tests with ts-jest right out of the box. ts-jest is a Tyepscript version of Jest. All you have to do is add your tests to the test directory. The file name must have .test in it somewhere. To run tests type:
    <pre class="code">${this.pp('npm run test', 'bsh')}</pre>
    For examples checkout the tests in the Shopping List Tutorial. There is plenty of great documentation at the <a href="https://jestjs.io/en/">Jest</a> website for info on how to Jest.
  </p>
  <h2>API</h2>
  <p>The Viage API is documented <a href="${this.api}">here</a></p>
  <h2>FAQ</h2>
  <p>For general information on how to do things like add a linter, go <a href="${this.faq}">here</a></p>
  <p>
    <button attach="back" type="button" class="btn btn-outline-primary">What</button>
    <button attach="next" type="button" class="btn btn-outline-primary">API</button>
  </p>
</div>
