<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=${this.home}><img class="logo-brand" src="${this.logo}"/>iage</a>
  <button attach="menuButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="${this.home}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.why}">Why</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.what}">What</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.getting_started}">Getting Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.api}">API</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="tutorial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tutorial
        </a>
        <div class="dropdown-menu" aria-labelledby="tutorial">
          <a class="dropdown-item" href="${this.tutorial_introduction}">Introduction</a>
          <a class="dropdown-item" href="${this.tutorial_create_app}">Creating an App</a>
          <a class="dropdown-item" href="${this.tutorial_components}">Components</a>
          <a class="dropdown-item" href="${this.tutorial_services}">Services</a>
          <a class="dropdown-item" href="${this.tutorial_shopping_list_element}">Shopping List Element</a>
          <a class="dropdown-item" href="${this.tutorial_shopping_list}">Shopping List</a>
          <a class="dropdown-item" href="${this.tutorial_routing}">Routing</a>
          <a class="dropdown-item" href="${this.tutorial_add_component}">Add Component</a>
          <a class="dropdown-item" href="${this.tutorial_edit_component}">Edit Component</a>
          <a class="dropdown-item" href="${this.tutorial_styling}">Styling</a>
          <a class="dropdown-item" href="${this.tutorial_animations}">Animations</a>
          <a class="dropdown-item" href="${this.tutorial_lazy_loading}">Lazy Loading</a>
          <a class="dropdown-item" href="${this.tutorial_conclusion}">Conclusion</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.router}">Router</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${this.faq}">FAQ</a>
      </li>
      </ul>
  </div>
</nav>
